*{
			padding: 0;
			margin: 0;
		}
		#gender-female{
			display: none;
		}
		#foreign-trip{
			display: none;
		}
		#main{
			display: flex;
		}
		#main-a{
			width:50%;
		}
		#main-a img{
			position: relative;
			top:23px;
			width:100%;
			height: 100%;
		}
		#main-b{
			position: relative;
		}
		#main-b h1{
			top:80px;
			font-size: 20px;
			position: relative;
			left: 140px;
			color: rgb(49,66,86);
			font-family: "Cambria";
		}
		#main-b h1:first-child{
			color: #ffbdad;
			font-size: 25px;
			left:280px;
			font-family: 'times new roman';
			margin-bottom: 5px;
		}
		#main-body{
			position: relative;
			top:90px;
			left: 120px;
			padding: 20px;
			margin: 25px 30px;
			background-color: white ;
			border: 3px solid rgb(49,66,86);
			border-radius: 25px;
			width:350px;
			right:120px;
		}
		#main-body form input,#main-body form select,#main-body form textarea{
			margin-bottom: 10px;
			padding-left: 5px;
		}
		#main-body form textarea{
			margin-bottom: 3px;
		}
		#submit{
			padding: 10px;
			font-size: 15px;
			outline: none;
			border-radius: 5px;
			width: 350px;
			background-color: white;
			color:rgb(49,66,86);
			border:1px solid black;
			margin-top: 5px;
		}
		#submit:hover{
			color: white;
			background-color: #5a65d8;
		}
		#main-c{
			position: relative;
			right: -580px;
			top:-25px;
			display: none;
			margin:30px;
		}
		#main-c img{
			position: absolute;
			right: 400px;
			top: 150px;
		}
		#slide-right{
			position: absolute;
			padding:8px 8px 3px;
		}
		#slide-right:hover{
			background-color: lightgrey;
		}
		#slide-right:hover #two{
			width:35px;
		}
		#one,#two,#three{
			height: 4px;
			background-color: blue;
			margin-bottom: 3px;
		}
		#one,#three{
			width:35px;
		}
		#two{
			width:25px;
		}
		#menu{
			position: absolute;
			background-color: lightgrey;
			padding: 10px 5px; 
			top: 30px;
			right: 230px;
			width:120px;
			text-align: center;
			display: none;

		}
		#menu div{
			margin:5px 10px;
			cursor: pointer;
			font-size: 20px;
		}
		#profile-a h1{
			font-family: 'polyphonic bold';
			position: relative;
			right: 400px;
			top:100px;
			font-size: 35px;
			color: rgb(67,70,89);
		}
		#profile-b{
			display: none;
			position: relative;
			right: 500px;
			top: 120px;
		}
		#profile-b h1{
			position: relative;
			left:100px;
		}
		ul li{
			font-size: 15px;
			list-style: none;
			margin-top: 15px;
		}
		ul li input{
			position: absolute;
			left:170px;
			padding: 5px;
			width:350px;
		}
		ul li button{
			padding:10px 15px;
			margin-top: 10px;
			width:535px;
			border: 1px solid black;
			outline: none;
		}
		ul li button:hover{
			background-color: lightgrey;
		}
		.active{
			background-color: lightgrey;	
		}
