*{
	margin:0;
	padding: 0;
}
img{
	position: absolute;
}
nav{
	position: relative;
	display: flex;
	justify-content: flex-end;
}
nav div{
	margin:10px 5px;
	color:white;
	font-size:19px;
	font-family: "serif";

}
nav div a{
	text-decoration: none;
	color:white;
	padding: 5px 20px;
	border-radius: 5px;
}

#home a{
	color:red;
	background-color: white;
	padding: 5px 20px;
}
nav div:hover a{
	background-color: white;
	color:blue;
}
.active{
	background-color: white;
	color:blue;
}
h1{
	position: absolute;
	top:260px;
	left:380px;
	color: white;
	font-family: "serif";
	font-size: 35px;
}
