*{
	margin:0;
	padding: 0;
}
img{
	position: absolute;
}
nav{
	position: relative;
	display: flex;
	justify-content: flex-end;
}
nav div{
	margin:10px 5px;
	color:white;
	font-size:19px;
	font-family: "serif";

}
nav div a{
	text-decoration: none;
	color:white;
	padding: 5px 20px;
	border-radius: 5px;
}

#home a{
	color:red;
	background-color: white;
	padding: 5px 20px;
}
nav div:hover a{
	background-color: white;
	color:blue;
}
.active{
	background-color: white;
	color:blue;
}
h1{
	position: absolute;
	top:260px;
	left:380px;
	color: white;
	font-family: "serif";
	font-size: 35px;
}

#popup-container{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:750px;
	height:450px;
	background-color: white;
	border-radius: 10px;
	transition: 2000;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
	justify-content: space-around;
}
.popup-container-loginO{
	display: none;
}
.popup-container-signupO{
	display: none;
}
.popup-container-loginC{
	display: none;
}
.popup-container-signupC{
	display: none;
}
#close-button{
	position: fixed;
	top:5px;
	left:710px;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
	padding:0 10px 0 10px;
	border-radius: 10px;
}
#close-button:hover{
	background-color: #2B60DE;
	left:710px;
	text-decoration: none;
	font-size: 30px;
	padding:0 10px 0 10px;
	color:white;
}
#information{
	width:350px;
}
#information img{
	margin: 0;
	padding: 0;
	width:400px;
	height:450px;
	border-radius: 5px;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.popup-container-signupO #information img{
	width:350px;
}
#login-form{
	margin-bottom:10px;
	width:350px;
	padding: 60px 0 0 0;
}

#login-form p,h2{
	position: relative;
	left:110px;
	margin-bottom:10px;
	font-size:15px;
}
.popup-container-loginO #login-form h2,.popup-container-signupO #login-form h2,.popup-container-signupC #login-form h2{
	position: relative;
	font-size: 35px;
	font-family: cursive;
	color: #2B60DE;
	left:100px;
	margin-bottom: 20px;
}
.popup-container-loginC #login-form h2{
	position: relative;
	font-size: 35px;
	font-family: cursive;
	color: #2B60DE;
	left:80px;
	margin-bottom: 20px;
}
#login-form input{
	position: relative;
	left:30px;
}
#login-form button{
	position: relative;
	display: block;
	left:100px;
	padding:10px 15px;
	margin: 30px 0 5px;
	width:130px;
	background-color: #2B60DE;
	color:white;
	border:none; 
	margin-top: 2px;
	border-radius: 10px;
	outline:none;
}

#login-form-signupO button,#login-form-signupC button{
	display: block;
	margin-top:30px;
}
#login-form a{
	position: relative;
	display: block;
	text-decoration: none;
	color:black;
	margin-top: -16px;
	left:200px;
	margin-bottom: 25px;
	font-size: 12px;

}
#login-form a:hover{
	color: #2B60DE;
}
#login-form button:hover{
	box-shadow: 0 0 10px  rgba(0,0,0,0.534);
	cursor: pointer;
}
#login-form #type{
	border:none;
	margin-left: 50px;
	border-bottom: 1px solid grey;
	width:200px; 
	margin-bottom: 20px;
}
